.category-list {
  li {
    text-transform: lowercase;
    padding: .5em 15px;
    display: flex;
    align-items: center;
    transition: all ease .3s;

    &:before {
      font-family: "FontAwesome";
      content: "\f1db";
      margin-right: 6px;
      font-size: .6em;
      transition: all ease .3s;
    }

    &.active {
      background-color: #3787FC;
      color: #fff;

      &:before {
        content: "\f111";
      }
    }

    &:hover {
      cursor: pointer;
      background-color: #666;

      &:before {
        margin-right: 8px;
      }
    }
  }
}
